# Ignorable directories
Ignore
Code/out
Code/data

# Latex Extras
*.log
*.aux
*.synctex.gz
*.log
*.aux
*.synctex.gz
*.log
*.bbl
*.blg
*.toc
*.acn
*.acr
*.alg
*.ist
*.out
*.glg
*.glo
*.gls
*.glsdefs
*.out
*.ac
*.bcf
*.expand
*.flg

# C stuff
*.o
*.gch

# Java
*.class

# Libraries
*.lib
*.a
*.jar

# Python
__pycache__/*
*.pyc

# Extras
*.zip
*.tar.gz
.ipynb_checkpoints
venv
.~lock*
*.swp


